@using BL.DTOs.Enums
@model PL.Models.JobOffer.JobOfferEditModel
@{
    ViewBag.Title = "JobOfferEdit";
}

<h2>Edit your job offer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.JobOffer.Id)
    @Html.HiddenFor(model => Model.JobOffer.CompanyId)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.JobOffer.Position, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobOffer.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobOffer.Position, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobOffer.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobOffer.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobOffer.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobOffer.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobOffer.Description, new { htmlAttributes = new { @class = "form-control", style = "resize: none;" } })
                @Html.ValidationMessageFor(model => model.JobOffer.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-offset-1"><strong>Fields</strong></p>
            <div class="col-md-offset-2 col-md-9 ">                
                @for (int i = 0; i < Model.Keywords.Count; i++)
                {
                    <div class="form-group col-md-3">
                        @Html.CheckBoxFor(model => model.Keywords[i], new {htmlAttributes = new {@class = "form-control"}})
                        @Html.LabelFor(model => model.Keywords[i], ((Keyword) i).ToString(), new {@class = "control-label", style = "font-weight: normal;" })
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("JobOfferList", "Company")'" />
            </div>
        </div>
    </div>
}
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
